.movies-container {
  display: flex;
  overflow-x: auto;
  gap: 6px;
  margin: 24px;
}

.movie-container {
  width: 200px;
  height: 370px;
}

.movie-container p {
  padding-top: 5px;
  color: grey;
  font-size: 12px;
}
